@import "open-props/style";

:root {
  --md-sys-color-primary: orange;
  --md-sys-color-background: var(--gray-0);
  --md-sys-color-on-background: var(--gray-12);
  --md-sys-color-surface: var(--gray-2);
  --md-sys-color-on-surface: var(--gray-7);
  --md-sys-color-on-surface-variant: var(--gray-6);
}